@import url("https://rsms.me/inter/inter.css");

:root {
	color-scheme: dark;
}

body {
	--bg: #000;
	--fg: #fff2;
	--red: #f00;
	--red-text: #000;
	--green: #0f0;
	--green-text: #000;
	--accent: #17e;
	--accent-bright: rgb(65, 154, 255);
	--accent-text: #fff;
	--yellow: #fe0;
	--yellow-text: #000;
	--text: #fff;
	--text-dimmed: #ffffff80;
	// --page-transition: 240ms cubic-bezier(0.38, 0, 0, 0.96);
	--page-transition: 240ms cubic-bezier(0.175, 0.885, 0.32, 1.03);
	--spacing-required: max(var(--spacing), 8px);
	--top-height: 3.5rem;
}

body, dialog {
	--spacing: 12px;
	--rounding: 12px;
}

.miniMode {
	--top-height: 2.75rem;
	--spacing: 2px;
	--rounding: 2px;
}

body {
	background-color: var(--bg);
	color: #fff;
	color: var(--text);
	font-feature-settings: "ss01", "zero";
	font-size: 1.2em;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.red {
	background-color: var(--red);
	color: var(--red-text);
	border-color: transparent;
}

.green {
	background-color: var(--green);
	color: var(--green-text);
	border-color: transparent;
}

.yellow {
	background-color: var(--yellow);
	color: var(--yellow-text);
	border-color: transparent;
}

.white {
	background-color: white;
	color: black;
	border-color: transparent;
}

.accent {
	background-color: var(--accent);
	color: var(--accent-text);
	border-color: transparent;
}

body {
	font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

button,
input,
select,
textarea {
	color: inherit;
	font-family: inherit;
	background: none;
	border: 2px solid var(--fg);
	font-size: 0.8em;
	border-radius: calc(var(--spacing) * 0.7);
	padding: calc(var(--spacing) * 0.7);
	cursor: pointer;
	&:disabled {
		filter: contrast(0.8);
		opacity: 0.8;
	}
}

fieldset {
	border: none;
}

.tabber {
	display: inline-flex;
	> button {
		margin: 0;
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
		}
		&:not(:first-child):not(:last-child) {
			border-radius: 0;
			border-right: none;
		}
		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&[aria-selected="true"] {
			background: var(--text);
			color: var(--bg);
		}
	}
}

input,
textarea {
	cursor: text;
}

input[type="number"] {
	width: 96px;
}

.split {
	display: flex;
	justify-content: space-between;
}

.horiz {
	display: flex;
	align-items: center;
	gap: var(--spacing);
}

.verti {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

* {
	margin: 0;
}

select {
	option {
		background: var(--bg);
		&:hover {
			background: var(--fg);
		}
	}
}

.minilabel {
	position: absolute;
	bottom: -5px;
	right: 12px;
	font-size: 8px;
	background: var(--bg);
	padding-inline: 3px;
}

body,
html {
	position: fixed;
}

.iconlabel {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	height: 1em;
	vertical-align: text-top;
}

details {
	border: 2px solid var(--fg);
	border-radius: var(--rounding);
	padding: var(--spacing);
	box-sizing: border-box;
	overflow: hidden;
	flex-shrink: 0;
	& > summary {
		transition: background 120ms;
		cursor: pointer;
		margin: calc(var(--spacing) * -1);
		padding: var(--spacing);
		user-select: none;
		// border-top-left-radius: var(--rounding);
		// border-top-right-radius: var(--rounding);
	}
	&[open] {
		& > summary {
			margin-bottom: var(--spacing);
			background: var(--fg);
		}
	}
}

input[type="checkbox"] {
	width: 1em;
	height: 1em;
	cursor: pointer;
}

a.openNewIcon::after {
	content: "↗";
	// font-size: 0.8em;
	// margin-left: 0.2em;
}

a {
	color: var(--accent-bright);
}
